<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application',media: 'all' %>
    <%= javascript_pack_tag 'application',media: 'all' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <main>
     <%= yield %>
        <p id="notice"><%= notice %></p>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
